<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchTesterAppExample WatchKit App (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchTesterAppExample WatchKit App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchTesterAppExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20FD840327314551007C9602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FD841927314553007C9602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FD842327314553007C9602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FD842D27314553007C9602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FD844D27314555007C9602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20FD845727314555007C9602</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
